<div class="container-homepage">
  <mat-toolbar>
    <span>SchoolHELP</span>
    <span class="spacer"></span>
    <button mat-flat-button (click)="goToLoginPage()">
      Login to your Account
    </button>
  </mat-toolbar>

  <div class="hero-container">
    <div class="text-hero-container">
      <div class="long-text">
        Let's Restore Children Education <br />Together with SchoolHelp!
      </div>
      <div class="sign-in-text">SIGN UP AS VOLUNTEER?</div>
      <div class="short-text">CREATE your volunteer account here:</div>
      <div>
        <button class="create-account-button" mat-flat-button>
          Create an Account
        </button>
      </div>
    </div>
    <div class="image-hero-container">
      <img src="/assets/learnpic.png" />
    </div>
  </div>
</div>
