<div class="container-homepage">
  <mat-toolbar>
    <span class="logo" (click)="goToAdminPage()">SchoolHELP</span>
    <div class="button-container">
      <button mat-flat-button (click)="goToAddSchool()">Add School</button>
      <button mat-flat-button>Administrator Registration</button>
    </div>
    <span class="spacer"></span>
    <button mat-flat-button color="warn" (click)="logout()">Logout</button>
  </mat-toolbar>

  <div class="hero-container">
    <div class="form-container">
      <div class="form-text">List of Registered School</div>
      <div class="header-container">
        <div class="header-item">School Name</div>
        <div class="header-item">Address</div>
        <div class="header-item">City</div>
      </div>
      <mat-selection-list #school [multiple]="false">
        <mat-list-option
          *ngFor="let school of listSchool"
          [value]="school.school"
        >
          <div class="list-container">
            <div class="list-item">{{ school.school }}</div>
            <div class="list-item">{{ school.address }}</div>
            <div class="list-item">{{ school.city }}</div>

            <div class="button-container-2">
              <button mat-flat-button (click)="goToAddSchoolAdmin()">
                Add School Administrator
              </button>
            </div>
          </div>
        </mat-list-option>
      </mat-selection-list>
    </div>
  </div>
</div>
